var config = {};

config.db = {
    host: "{{ thefederation_db_host }}",
    user: "{{ thefederation_db_user }}",
    password: "{{ thefederation_db_password }}",
    database: "{{ thefederation_db_name }}"
};

config.scheduler = {
    hour: 0,
    minute: 7
};

{% if thefederation_sync_from_diapod %}
config.doActivePodsSync = true;
{% else %}
config.doActivePodsSync = false;
{% endif %}
config.schedulerActivePodsSync = {
    hour: 6,
    minute: 15
};

config.email = {
    type: "smtp",
    host: "{{ thefederation_smtp_host }}",
    port: {{ thefederation_smtp_port }},
    username: "{{ thefederation_smtp_username }}",
    password: "{{ thefederation_smtp_password }}"
};

config.admin = {
    email: "{{ thefederation_admin_mail }}"
};

config.app = {
    // This is the port the application will listen on
    port: {{ thefederation_proxy_port }}
};

config.shcli = {
    domain: "{{ thefederation_shcli_domain }}",
    token: "{{ thefederation_shcli_token }}",
};

config.statisticsPosts = {
    daily: {
        {% if thefederation_daily_posts %}
            enabled: true,
        {% else %}
            enabled: false,
        {% endif %}
        schedule: {
            hour: {{ thefederation_daily_posts_hour }},
            minute: {{ thefederation_daily_posts_minute }},
        }
    }
};

module.exports = config;
