var config = {};

config.db = {
    host: "{{ thefederation_db_host }}",
    user: "{{ thefederation_db_user }}",
    password: "{{ thefederation_db_password }}",
    database: "{{ thefederation_db_name }}"
};

config.scheduler = {
    hour: 0,
    minute: 7
};

config.schedulerActivePodsSync = {
    hour: 6,
    minute: 15
};

config.email = {
    type: "smtp",
    host: "{{ thefederation_smtp_host }}",
    port: {{ thefederation_smtp_port }},
    username: "{{ thefederation_smtp_username }}",
    password: "{{ thefederation_smtp_password }}"
};

config.admin = {
    email: "{{ thefederation_admin_mail }}"
};

config.app = {
    // This is the port the application will listen on
    port: {{ thefederation_proxy_port }}
};

module.exports = config;
